body {
  background-color: #f9f9f9;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
}
.w-container {max-width: 1050px;}
.navigation.clone {
    position:fixed;
    top:-65px;
    left: 0;
    right: 0;
    z-index:999;
    transition:0.4s top cubic-bezier(.3,.73,.3,.74);
}
body.down .navigation.clone {
  top:0;
}

.navigation {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 999;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .04);
}

.brand {
  display: block;
  margin-top: 10px;
  margin-bottom: -10px;
  float: left;
  -webkit-transition: margin 200ms ease;
  transition: margin 200ms ease;
}

.brand:hover {
  margin-top: 6px;
}

.navigation-search {
  display: inline-block;
  width: 60%;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 30px;
}

.text-field {
  display: block;
  height: 47px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 33px;
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
  background-image: url('../images/icon-search.png');
  background-position: 0px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-transition: border-color 50ms ease;
  transition: border-color 50ms ease;
  font-family:'Proxima N W01 Reg';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.text-field:focus {
  border-bottom: 2px solid #1bb3aa;
}

.navigation-link {
  padding: 23px 16px 22px;
  float: right;
  font-family:'Proxima N W01 Smbd';
  color: #777d80;
  font-size: 12.3px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link:hover {
  color: #40474b;
}

.navigation-link.w--current {
  color: #1ec4ba;
}

.navigation-tablet {
  display: none;
}

.navigation-mobile {
  display: none;
}


.landing-top-block {
  overflow: hidden;
}

.landing-top-block-feature {
  margin-bottom: 60px;
  padding-right: 8px;
  padding-left: 8px;
  font-family:'Proxima N W01 Reg';
  color: #7b8893;
  font-size: 14.5px;
  text-align: center;
}

.landing-top-block-feature-image {
  margin-bottom: 20px;
}

.h1 {
  margin-bottom: 60px;
  font-family:'Proxima N W01 Light';
  font-size: 36px;
  line-height: 54px;
  font-weight: 300;
}

.search-bar-large {
  width: 75%;
  height: 52px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 1px solid #d9e2e2;
  border-radius: 5px 0px 0px 5px;
  font-family:'Proxima N W01 Light';
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0px;
}

.search-bar-large:focus {
  border-color: #1bb3aa;
}

.text-span {
  color: #1bb3aa;
}

.landing-block-1 {
  width: 60%;
  padding-top: 70px;
  padding-right: 7%;
  padding-left: 7%;
  float: left;
}

.landing-block-2 {
  position: static;
  top: 66px;
  right: 0px;
  bottom: 0px;
  width: 40%;
  height:687px;
  float: left;
  background-image: url('/resources/images/test-large-image.jpg');
  background-position: 50% 50%;
  background-size: cover;

  -webkit-clip-path: url(#path-1);
  clip-path: url(#myClip);
}

.content {
  display: block;
  max-width: 1560px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f9f9f9;
}

.body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #e5e5e4;
}

.banner-universities {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.banner-university-block {
  padding-top: 10px;
  text-align: center;
}

.banner-university-block-image
{
  width:60%;
  opacity:0.6;
}

.how-it-works-block {
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #ecf4f4;
  background-image: url('../images/graphic-video-U.png');
  background-position: 100% 0px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.how-it-works-video {
  overflow: hidden;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 0 10px 31px 0 rgba(73, 156, 141, .36);
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family:'Proxima N W01 Light';
  color: #222c2b;
  font-size: 30px;
  font-weight: 300;
}

.ticked-list {
  margin-top: 15px;
  margin-bottom: 40px;
  font-family:'Proxima N W01 Smbd';
  font-size: 14.7px;
  font-weight: 600;
}

.ticked-list-item {
  margin-bottom: 20px;
  padding-left: 30px;
  background-image: url('../images/icon-tick.png');
  background-position: 0px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  color: #2f4c4a;
  font-size: 16px;
  font-weight: 500;
}

.sub-heading {
  margin-bottom: 40px;
  font-family:'Proxima N W01 Reg';
  color: #7b8893;
  font-size: 17px;
}

.button-positive {
  padding: 13px 25px;
  border: 1px solid #1cb1a9;
  border-radius: 100px;
  background-color: #1dc4ba;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  font-family:'Proxima N W01 Bold';
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-positive:hover {
  background-color: #32cfc6;
}

.button-positive.button-positive-small {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

.feature-universities-block {
  padding-top: 90px;
  padding-bottom: 110px;
  text-align: center;
}

.university-widget {
  overflow: hidden;
  width: 31.1%;
  margin-right: 10px;
  margin-left:10px;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, .03);
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  text-align: left;
  text-decoration: none;
}



.university-widget:hover {
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, .06);
  -webkit-transform: translate(0px, -15px);
  -ms-transform: translate(0px, -15px);
  transform: translate(0px, -15px);
}

.university-widget-content {
  padding: 30px;
  color: #3c4645;
  text-decoration: none;
}

.university-widget-image {
  height: 185px;
  background-image: url('../images/virtual-reality-goggles_925x2x.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.small-paragraph {
  margin-bottom: 10px;
  font-family:'Proxima N W01 Reg';
  color: #626969;
}

.small-paragraph.inpost-university-description {
  margin-right: 15px;
  margin-left: 15px;
  text-align: left;
}

.university-widget-logo {
  max-height: 40px;
  margin-bottom: 15px;
}

.parralax-scroll {
  height: 350px;
  background-image: url('../images/parralax.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.featured-mentor-block {
  padding-top: 90px;
  padding-bottom: 140px;
  text-align: center;
}

.title.mobile-title {
  display: none;
}

.featured-mentor-wrapper {
  position: relative;
}

.featured-mentor-image {
  width: 55%;
  height: 570px;
  border-radius: 10px;
  background-image: url('../images/female-artist-closeup.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.featured-mentor-information {
  position: absolute;
  left: 50%;
  top: 7%;
  z-index: 9;
  width: 50%;
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
  text-align: left;
}

.heading-3 {
  margin-bottom: 20px;
  font-family:'Proxima N W01 Light';
  font-size: 30px;
  font-weight: 300;
}

.paragraph-text {
  overflow: hidden;
  height: 260px;
  font-family:'Proxima N W01 Reg';
  color: #677271;
  font-size: 15.5px;
  line-height: 25px;
}

#university-widget-description
{
  height:143px;
  overflow:hidden;
}

.generalText {
  font-family:'Proxima N W01 Reg';
  color: #677271;
  font-size: 15.5px;
  margin-bottom:20px;
  line-height: 25px;
}

.paragraph-text.paragraph-text-flex {
  overflow: visible;
  height: 100%;
  margin-bottom: 25px;
}

.text-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  -webkit-transition: padding 200ms ease;
  transition: padding 200ms ease;
  font-family:'Proxima N W01 Reg';
  color: #1ec4ba;
  font-size: 18px;
  text-decoration: none;
}

.text-link:hover {
  padding-left: 10px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.brand-small {
  margin-bottom: 15px;
}

.tiny-heading {
  font-family:'Proxima N W01 Smbd';
  font-size: 15px;
  font-weight: 600;
}

.small-text-link {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family:'Proxima N W01 Reg';
  color: #02b3a3;
  font-size: 15px;
  text-decoration: none;
}

.small-text-link:hover {
  color: #02867a;
}

.small-text-link.location-link {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
}

.universities-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sort-web {
  height: 48px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family:'Proxima N W01 Reg';
  color: #6b6b6b;
  font-size: 15px;
  text-indent: 10px;
}

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.inpost-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.inpost-block.center-text {
  text-align: center;
}

.university-colour {
  position: absolute;
  left: -23%;
  top: -45%;
  width: 700px;
  height: 700px;
  border-radius: 400px;
  background-color: #a60045;
}

.inpost-information {
  padding: 20px 10px 10px;
  background-color: #fff;
  text-align: center;
}

.inpost-information-image {
  overflow: hidden;
}

.inpost-location {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}

.small-subtext {
  padding-top: 2px;
  padding-bottom: 2px;
  font-family:'Proxima N W01 Reg';
  color: #878e8d;
  font-size: 14px;
}

.inpost-university-features {
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  font-family:'Proxima N W01 Smbd';
  color: #395b59;
  font-weight: 600;
  text-align: left;
  list-style-type: disc;
}

.inpost-university-features-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.inpost-student-wrapper {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.inpost-student-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-image: url('../images/virtual-reality-goggles_925x2x.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.inpost-student-information {
  padding: 20px 20px 20px 100px;
  background-color: #fff;
}

.heading-medium {
  margin-top: 0px;
  font-family:'Proxima N W01 Light';
  font-size: 25px;
  font-weight: 300;
}

.heading-small {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family:'Proxima N W01 Reg';
  color: #3c4645;
  font-size: 19px;
  font-weight: 400;
}

.col-extra-space {
  padding-right: 10px;
  padding-left: 30px;
}

.search-big-button {
  width: 15%;
  height: 70px;
  margin-left: -1px;
  float: left;
  border-radius: 0px 3px 3px 0px;
  background-color: #1bb3aa;
  background-image: url('/resources/images/icon-search-white.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.search-big-button:hover {
  background-color: #0bcabf;
}

.form-wrapper {
  margin-bottom: 0px;
}

.video {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 24px 24px 0 -13px #a60045;
}

.about-us-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.column-fixed-width {
  width: 100%;
}

.mobile-landing-top-block-feature {
  display: none;
}

.four-oh-four
{
    /* Sorry, we can’t find: */
  opacity: 0.42;
  font-family:'Proxima N W01 Light';
  font-weight:300;
  font-size: 35px;
  color: #3C4645;
  letter-spacing: 0.21px;
  line-height: 54px;
  margin-bottom:50px;
  text-align: center;
  padding:30px 50px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

html.w-mod-js *[data-ix="scroll-into-view"] {
  opacity: 0.8;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="scroll-into-view-delay"] {
  opacity: 0.8;
  -webkit-transform: translate(0px, 150px);
  -ms-transform: translate(0px, 150px);
  transform: translate(0px, 150px);
}

html.w-mod-js *[data-ix="grow-circle"] {
  -webkit-transform: translate(-400px, -400px);
  -ms-transform: translate(-400px, -400px);
  transform: translate(-400px, -400px);
}

html.w-mod-js *[data-ix="on-load-move-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

#sidr
{
  display:none;
}

@media (max-width: 991px) {
  .navigation {
    display: none;
  }
  .brand {
    display: block;
  }

  #sidr
  {
    display:block;
  }

  .navigation-tablet {
    position: relative;
    z-index: 9999;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e3e4e5;
    background-color: #fff;
  }
  .mobile-hamburger {
    display: inline-block;
    padding: 22px;
    float: left;
  }

  .mobile-menu-link {
    display: block;
    width: 100%;
    padding: 35px 30px 35px 35px;
    font-family:'Proxima N W01 Light';
    color: #3c4645;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
  }
  .mobile-menu-link.w--current {
    color: #1ec4ba;
  }
  .landing-top-block {
    background-image: none;
  }
  .landing-block-1 {
    width: 100%;
    padding-bottom:10%;
  }
  .landing-block-2 {
    display: none;
  }
  .how-it-works-block {
    padding: 80px 40px;
    background-image: none;
  }
  .how-it-works-content {
    display: none;
  }
  .university-widget {
    width: 45%;
  }
  .title.mobile-title {
    display: block;
    text-align: center;
  }
  .featured-mentor-wrapper {
    overflow: visible;
    padding-bottom: 150px;
  }
  .featured-mentor-image {
    width: 100%;
    height: 630px;
  }
  .featured-mentor-information {
    left: 0%;
    top: 30%;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 80%;
    height: 482px;
    margin-right: auto;
    margin-left: auto;
  }
  .university-colour {
    left: 0%;
    top: -45%;
    right: -23%;
    width: 100%;
  }
  .inpost-information {
    margin-bottom: 40px;
    text-align: left;
  }
  .inpost-location {
    border-bottom-style: none;
    text-align: right;
  }
  .image {
    width: 100%;
  }
  .tablet-image {
  }
  .column-fixed-width {
    display: inline-block;
    width: 48%;
    float: none;
  }
}

@media (max-width: 767px) {
  .navigation-search {
    width: 100%;
    padding-left: 20px;
  }
  .navigation-tablet {
    display: none;
  }
  .mobile-hamburger {
    float: right;
  }
  .navigation-mobile {
    position: relative;
    z-index: 9999;
    display: block;
    background-color: #fff;
  }

  .navigation-mobile .text-field
  {
    width:90%;
  }

  .border-bottom {
    border-bottom: 1px solid #e3e4e5;
  }

  .landing-top-block {
    overflow: visible;
    height: 100%;
  }
  .landing-top-block-feature {
    display: none;
  }
  .h1 {
    margin-bottom: 40px;
  }
  .landing-block-1 {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
  }
  .banner-universities {
    display: none;
  }
  .button-positive.button-positive-small {
    float: none;
  }
  .university-widget {
    width: 44%;
  }
  .inpost-location {
    border-bottom-style: solid;
    text-align: center;
  }
  .inpost-student-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 0px;
  }
  .inpost-student-image {
    left: 42%;
    top: -25px;
  }
  .inpost-student-information {
    padding-top: 70px;
    padding-left: 20px;
    text-align: center;
  }
  .col-extra-space {
    padding-left: 10px;
  }
  .tablet-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .column-fixed-width {
    width: 100%;
  }
  .mobile-landing-top-block-feature {
    display: block;
    margin-bottom: 40px;
    text-align: left;
  }
  .mobile-top-block-feature-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:'Proxima N W01 Reg';
    color: #6d7074;
    font-size: 17px;
  }
}

@media (max-width: 479px) {
  .navigation-search {
    padding-right: 10px;
    padding-left: 10px;
  }


  .four-oh-four
  {
      /* Sorry, we can’t find: */
    opacity: 0.42;
    font-family:'Proxima N W01 Reg';
    font-size:24px;
    line-height: 35px;
  }

  .h1 {
    font-size: 27px;
    line-height: 39px;
  }
  .search-bar-large {
    width: 63%;
    border-radius:0px;
    -webkit-appearance: none;
  }
  .how-it-works-block {
    padding: 60px 0px;
    background-color: rgba(236, 244, 244, 1);
    background-image: none;
  }
  .how-it-works-video {
    margin-top: 0px;
  }
  .university-widget {
    width: 92%;
    margin-left:15px;
    margin-right:15px;
  }
  .featured-mentor-block {
    padding-top: 60px;
    padding-bottom: 370px;
  }
  .title.mobile-title {
    text-align: center;
  }
  .featured-mentor-image {
    height: 240px;
    border-radius: 0px;
  }
  .featured-mentor-information {
    top: 59%;
    width: 100%;
  }
  .inpost-block.center-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .inpost-student-image {
    position: absolute;
    left: 0%;
    top: -25px;
    right: 0px;
    bottom: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .inpost-student-information {
    position: relative;
  }
  .heading-medium {
    text-align: center;
  }
  .search-big-button {
    width: 24%;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mobile-landing-top-block-feature {
    display: block;
    padding-left: 20px;
  }
  .container-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-4 {
    padding-right: 20px;
    padding-left: 20px;
  }
}
